rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow unauthenticated reads to staff collection so Login can verify custom passwords
    match /staff/{staffId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Allow any authenticated user to read and write all data during development phase.
    // We will restrict this via Role Based Access Control later.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
  }
}
